@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

html {
    font-family: 'Merriweather', serif;
}

/* header {
    display:
} */

h1 {
    font-size: 50px;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 17px;
    margin: 0;
    padding: 0 90px;
}



body {
    margin: 0;
    padding: 0;
    background-color: rgb(254, 254, 254)
}

main {
    padding: 16px;
}

footer {
    background-color: rgb(192, 184, 169);
    padding: 38px;
}

img {
    height: 200px;
    padding-bottom: 10px;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
    background-color: rgb(192, 184, 169);
}

.mainlink {
    display: flex;
    justify-content: flex-end;
}

a {
    color: rgb(26, 55, 27);
}

a:hover {
    color: rgb(85, 121, 90);
}

a:link {
    text-decoration: none;
    color:rgb(235, 230, 233)
}

.grid-display {
    display: grid;
    grid-template-columns: repeat(4, 25%);

}

h3 {
    margin-bottom: 2px;
}

#stars {
    color: rgb(197, 118, 6);
    padding: 0 0 2px 7px;
}

.photolink:hover {
    /* filter: blur(2px); */
    opacity: 0.7;
    transition: 0.5s ease-in-out;
}

p {
    font-size: 20px;
    margin: 10px 10px 5px 8px;
}

.recipepage {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "tacophoto ingredients"
        "steps steps" */
}

#tacophoto {
    grid-area: tacophoto;
}

#ingredients {
    grid-area: ingredients;
}

#steps {
    grid-area: steps;
}

.recipetitles {
    padding-left: 75px;
}
